
models/prbs.py
models/__pycache__/
controllers/__pycache__/
views/__pycache__/
models/conexion.py
guiBuild/search/__pycache__
dist/BibliotecaApp.exe
build
BibliotecaApp.spec

# Firebase credentials - ¡NUNCA subir esto a Git!
firebase-credentials.json
*-firebase-adminsdk-*.json